{% load static %}
<nav class="navbar" style="background-color: {{ store_profile.theme_background_color }};">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}" style="color: {{ store_profile.theme_text_color }};">
    {% if store_profile.show_brand_image_on_nav %}
      {% if store_profile.brand_image %}
      <img src="{{ store_profile.brand_image }}" style="height: 30px;" alt="Logo">
      {% else %}
      <img src="{% static 'store/brand.svg' %}" style="height: 30px;" alt="Logo">
      {% endif %}
    {% endif %}

    {% if store_profile.show_brand_name_on_nav %}
      {% if store_profile.brand_name %}{{ store_profile.brand_name }}{% endif %}
    {% endif %}
    </a>

    <div>
      <button class="btn border-0 pb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" style="color: {{ store_profile.theme_text_color }};">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>

      <div class="offcanvas offcanvas-top my-0 mx-0 py-0 px-0" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel" style="background-color: {{ store_profile.theme_background_color }}; height: 70px;">
        <div class="offcanvas-header my-0 py-0">
          <span> </span>
          <form class="d-flex offcanvas-body" role="search" action="{% url 'search' %}">
            <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search" name="q">
          </form>

          <button type="button" data-bs-dismiss="offcanvas" aria-label="Close" style="color: {{ store_profile.theme_text_color }}; background-color: {{ store_profile.theme_background_color }};">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>
        </div>
      </div>

      <a href="#" class="fw-light text-decoration-none ms-2" style="color: {{ store_profile.theme_text_color }};">Entrar</a>
      <a href="#" class="fw-light text-decoration-none ms-3" style="color: {{ store_profile.theme_text_color }};">Criar</a>
    </div>
  </div>
</nav>
