{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container shadow-sm bg-white mt-4 py-2 px-0 rounded-2" xmlns="http://www.w3.org/1999/html">

  <h3 class="text-center text-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
  </h3>
  {% if not cart_list %}
  <div class="text-center text-muted py-4 my-4" style="min-height: 300px;">
    <h1>Carrinho vazio</h1>
  </div>

  {% else %}
  {% for cart in cart_list %}
  <div class="m-2 p-2 rounded-2 bg-white bg-opacity-100" style="box-shadow: 0px 0px 10px #ddd;">
    <h6 class="text-truncate py-1">
      <a href="{% url 'product' cart.product.title_for_url cart.product.id %}" class="text-decoration-none text-dark">
        {{ cart.product.title}}
      </a>
    </h6>

    <div class="row">
      <div class="col mx-0" style="min-width: 300px;">

        <div class="row">
          <div class="col" style="max-width: 110px;">
            <a href="{% url 'product' cart.product.title_for_url cart.product.id %}" class="text-decoration-none text-dark">
              <img src="{{ cart.product.image_1.url }}" class="rounded border" style="max-width: 100px;">
            </a>
          </div>

          <div class="col" style="max-width: 200px;">
            <p class="my-0 py-0">
              <span class="fs-5 fw-light text-muted">{{ cart.product.price_pprint }}</span>
            </p>
            <p class="fw-light my-0 py-0">
              <!-- FAVORITE BUTTON -->
              {% if cart.product.id in favorite_product_id_list %}
              <a href="{% url 'cart_favorite' cart.product.id %}" class="btn btn-white border-0 text-danger text-decoration-none" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
              </svg>
              </a>
              {% else %}
              <a href="{% url 'cart_favorite' cart.product.id %}" class="btn btn-white border-0 text-decoration-none" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
              </a>
              {% endif %}
              <!-- REMOVE BUTTON -->
              <button class="btn btn-white border-0 text-decoration-none" data-bs-toggle="modal" data-bs-target="#remove{{ cart.product.id }}Modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
              </button>
            </p>
          </div>

        </div>

      </div>

      <div class="col mx-3 mt-2 rounded position-relative border" style="min-width: 300px;">
         <table>
          <tr>
            <td>
              <p class="my-0 py-0">
                Quantidade:
                <span class="text-muted fw-light"> {{ cart.quantity }}</span>
              </p>
              <p class="my-0 py-0">
                Divido em:
                <span class="text-muted fw-light"> {{ cart.times_split_pprint }}</span>
              </p>
              <p class="my-0 py-0 fs-5 fw-light">
                <span class="text-primary"> {{ cart.total_price_pprint }}</span>
              </p>
            </td>
            <td>
              <div class="my-0 py-0 ps-4 ms-4 position-absolute top-50 end-0 translate-middle">
                <button class="btn btn-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#edit{{ cart.product.id }}Modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                </svg>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- EDIT MODAL -->
      <div class="modal fade" id="edit{{ cart.product.id }}Modal" tabindex="-1" aria-labelledby="edit{{ cart.product.id }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="text-center">Alterar quantidade</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <h6 class="text-truncate py-1">{{ cart.product.title}}</h6>
              <img src="{{ cart.product.image_1.url }}" class="img-thumbnail" style="width:85px;">
              <span class="fs-4">{{ cart.product.price_pprint }}</span>

              <form action="{% url 'cart_edit' cart.id %}" method="post">
                {% csrf_token %}
                <div class="input-group my-3" style="width: 410px;">
                  <span class="input-group-text fw-light" style="width: 110px;">Quantidade</span>
                  <input type="number" id="quantity" name="quantity" class="form-control text-center" step="1" value="{{ cart.quantity }}" min="1" max="{{ cart.product.max_quantity_per_sale }}">
                  <label class="text-muted mt-2 ms-2 fw-light" style="width: 200px;"><small>Máximo {{ cart.product.max_quantity_per_sale }}</small></label>
                </div>

                <div class="input-group my-3" style="width: 410px;">
                  <span class="input-group-text fw-light" style="width: 110px;">Dividir</span>
                  <input type="number" id="times_split_num" name="times_split_num" class="form-control text-center" step="1" value="{{ cart.times_split_num }}" min="1" max="{{ cart.product.times_split_num }}">
                  <label class="text-muted mt-2 ms-2 fw-light" style="width: 200px;"><small>Máximo até {{ cart.product.times_split_num }} vezes</small></label>
                </div>

                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary">Alterar</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

      <!-- REMOVE MODAL -->
      <div class="modal fade" id="remove{{ cart.product.id }}Modal" tabindex="-1" aria-labelledby="remove{{ cart.product.id }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="text-center">Remover do carrinho</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h6 class="text-truncate py-1">{{ cart.product.title}}</h6>
              <img src="{{ cart.product.image_1.url }}" class="img-thumbnail" style="width:85px;">
              <span class="fs-4">{{ cart.product.price_pprint }}</span>

              <form action="{% url 'cart_remove' cart.product.id %}" method="post">
                {% csrf_token %}
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-danger">Remover</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}


  <!-- TOTAL -->
  <div>
    <div class="pt-4 mx-5">
    <h4 class="text-muted fw-light">Prévia das divisões de crédito</h4>
    {% for index, price_split_item in total_price_split_list_pprint.items %}
    <div class="row border-bottom">
      <div class="col">
        <p class="m-0 p-0">{{ index }}ª <span class="fw-light">parcela</span></p>
      </div>

      <div class="col m-0 p-0">
        <p class="m-0 p-0">{{ price_split_item }}</p>
      </div>
    </div>
    {% endfor %}
    </div>

    <div class="row m-4 fs-3 text-center">
      <div class="col">
        <p>Frete <span class="fs-5 fw-light text-primary">{{ shipping_price_pprint }}</span></p>
      </div>

      <div class="col">
        {% load store_extras %}
        <p>Total com frete <span class="fs-4 fw-light text-success">{{ total_price_pprint | space_to_nbsp | safe }}</span></p>
      </div>

    </div>

    <div class="row mx-5 gap-2 pag-2 mb-4">
      <a role="button" class="btn btn-primary col"><!-- bill -->
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
          <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
          <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
        </svg>
        &nbsp;À&nbsp;vista&nbsp;no&nbsp;Boleto
      </a>
      <a role="button" class="btn btn-primary col">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
          <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
        </svg>
        &nbsp;À&nbsp;vista&nbsp;no&nbsp;Débito
      </a>
      <a role="button" class="btn btn-primary col">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
        </svg>
        &nbsp;Dividido&nbsp;no&nbsp;Crédito
      </a>

    </div>
  </div>
  {% endif %}

</div>
{% endblock %}
