{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container shadow-sm bg-white mt-4 py-2 px-0 rounded-2" xmlns="http://www.w3.org/1999/html">

  <h3 class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
    </svg>
  </h3>
  {% if not favorite_list %}
  <div class="text-center text-muted py-4 my-4" style="min-height: 300px;">
    <h1>Lista vazia</h1>
  </div>

  {% else %}
  {% for favorite_item in favorite_list %}

  <div class="m-2 p-2 rounded-2 bg-white bg-opacity-100" style="box-shadow: 0px 0px 10px #ddd;">
    <h6 class="text-truncate py-1">{{ favorite_item.product.title}}</h6>

    <div class="row">

      <div class="col mx-0" style="min-width: 210px;">
        <a href="{% url 'product' favorite_item.product.title_for_url favorite_item.product.id %}" class="text-decoration-none text-dark">
          <img src="{{ favorite_item.product.image_1.url }}" class="img-thumbnail" style="width:85px;">
          <span class="fs-4">{{ favorite_item.product.price_pprint }}</span>
        </a>
      </div>

      <div class="col mx-0 gap-2 gap-2 position-relative">
          <form action="{% url 'favorite_remove' favorite_item.product.id %}" method="post">
            {% csrf_token %}
            <!-- FAVORITE BUTTON -->
            <button class="btn btn-white border-0 text-danger text-decoration-none position-absolute top-50 end-0 translate-middle" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            </button>
          </form>

      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
