{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container shadow-sm bg-white mt-4 py-2 px-0 rounded-2" xmlns="http://www.w3.org/1999/html">

  <h3 class="text-center text-danger">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
    </svg>
  </h3>
  {% if not favorite_list %}
  <div class="text-center text-muted py-4 my-4" style="min-height: 300px;">
    <h1>Lista vazia</h1>
  </div>

  {% else %}
  {% for favorite_item in favorite_list %}

  <div class="m-2 p-2 rounded-2 bg-white bg-opacity-100" style="box-shadow: 0px 0px 10px #ddd;">
    <h6 class="text-truncate py-1">{{ favorite_item.product.title}}</h6>

    <div class="row">

      <div class="col mx-0" style="min-width: 210px;">
        <a href="{% url 'product' favorite_item.product.title_for_url favorite_item.product.id %}" class="text-decoration-none text-dark">
          <img src="{{ favorite_item.product.image_1.url }}" class="img-thumbnail" style="width:85px;">
          <span class="fs-4">{{ favorite_item.product.price_pprint }}</span>
        </a>
      </div>

      <div class="col mx-0 gap-2 gap-2 position-relative">
          <form action="{% url 'favorite' %}" method="post">
            {% csrf_token %}
            <!-- REMOVE -->
            <button type="submit" name="remove_from_favorites" value="{{ favorite_item.product.id }}" class="btn btn-white border-0 text-decoration-none position-absolute top-50 end-0 translate-middle">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg>
            </button>
          </form>

      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
