{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <!-- CARD -->
  {% if products %}
  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for product in products %}
      <div class="col">

        <a href="{% url 'product' product.url_title product.id %}" class="text-decoration-none text-dark">
          <div class="card h-100 border-0 shadow-sm">
            <img src="{{ product.image_1.url }}" class="card-img-top" alt="...">

            <div class="text-secondary"><hr class="my-0 py-0"></div>
            <div class="card-body my-1 py-0">
              {% if product.card_title %}
              <p class="card-text text-secondary my-0 py-0 align-middle" style="display: table-cell; height: 50px; vertical-align: middle;">
                <small>{{ product.card_title }}</small>
              </p>
              {% endif %}
              {% if product.new_price %}
              <p class="card-text my-0 py-0">
                <strong>{{ product.new_price }}</strong>
                {% if product.show_off_price %}
                {% if product.off_price %}<small class="text-success"> {{ product.off_price }}</small>{% endif %}
                {% endif %}
              </p>
              {% endif %}
              {% if product.times_split_prices %}
              <p class="card-text my-0 py-0">
              <small>{{ product.times_split_prices }}</small>
              {% if not product.times_split_interest %}
              <span class="text-success fs-6"> sem juros</span>
              {% endif %}
              </p>
              {% endif %}
              {% if not product.shipping_price %}
              <p class="card-text text-success my-0 py-0"><small><strong>Frete Grátis</strong></small></p>
              {% endif %}
            </div>
          </div>
        </a>

      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
