{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-sm">
<h1 class="text-center">Gerenciar loja</h1>

  <div style="height: 30px;">
    {% if warning %}
    <p class="bg-danger-subtle text-danger border border-danger-subtle px-2 rounded-3">
      {{ warning }}
    </p>
    {% endif %}
  </div>

  <div class="form-group shadow-sm bg-white px-4 py-2 rounded-2 bg-opacity-50">
    {{ form.media }}
    <form action="{% url 'manage_store' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form.visible_fields %}

          {% if field.field.widget.input_type == 'checkbox' %}
          <div class="form-group mt-2">
            {{ field }} <label for="{{ field.id_for_label }}">{{ field.label | safe }}</label>
          </div>
          {% elif field.field.widget.input_type == 'number'%}
          <div class="form-group mt-4">
            <label for="{{ field.id_for_label }}">{{ field.label | safe }}</label>
            <div style="max-width: 100px;">{{ field }}</div>
          </div>
          {% elif 'color' in field.name %}
          <div class="form-group mt-4">
            <label for="{{ field.id_for_label }}">{{ field.label | safe }}</label>
            <div style="max-width: 150px;">{{ field }}</div>
          </div>

          <!-- brand_image -->
          {% elif field.name == 'brand_image' %}
          <div class="form-group mt-4">
            <label for="{{ field.id_for_label }}">{{ field.label | safe }}</label>
            {% if store_profile.brand_image %}
            <div class="row">
              <div class="col align-center" style="max-width: 60px; max-height: 40px;">
                <img src="{{ store_profile.brand_image.url }}" class="rounded border" style="max-width: 55px; max-height: 40px;">
              </div>
              <div class="col" style="max-width: 400px;">{{ field }}</div>
            </div>
            <input class="form-check-input" type="checkbox" value="" name="remove_brand_image" id="remove_brand_image">
            <label class="form-check-label" for="remove_brand_image">
              &nbsp;Limpar imagem da logo
            </label>
            {% else %}
            <div class="row">
              <div class="col text-muted" style="max-width: 60px;">
                <svg class="bi bi-image-alt rounded border" width="55" height="35" fill="currentColor" version="1.1" viewBox="0 0 55 35">
                  <path d="m19.605 4.5195a6.1692 6.1692 0 0 0-6.1699 6.1699 6.1692 6.1692 0 0 0 6.1699 6.1699 6.1692 6.1692 0 0 0 6.168-6.1699 6.1692 6.1692 0 0 0-6.168-6.1699zm35.062 10.566c-0.45543 0.017309-1.0278 0.2001-1.3984 0.33594l-20.967 9.7188-13.432-3.6367c-0.65394-0.14819-1.4871 0.029298-1.9688 0.19336l-16.902 3.9277v6.25c0 1.7258 1.3992 3.125 3.125 3.125h63.75c1.7258 0 3.125-1.3992 3.125-3.125v-9.0625l-14.928-7.6816c-0.11404-0.039071-0.25249-0.050691-0.4043-0.044921z" stroke-width="3.1249"/>
                </svg>
              </div>
              <div class="col" style="max-width: 400px;">{{ field }}</div>
            </div>
            {% endif %}
          </div>

          {% else %}
          <div class="form-group mt-4">
            <label for="{{ field.id_for_label }}">{{ field.label | safe }}</label>{{ field }}
          </div>
          {% endif %}

        {% endfor %}
        <input type="submit" value="Salvar" class="btn btn-dark mt-3 mb-5">
      </form>
  </div>

</div>
{% endblock %}