{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container shadow-sm bg-white mt-4 rounded-2" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col position-relative">

      <form class="d-flex mt-2" role="search" action="{% url 'search_tag' %}">

      <!-- TAGS -->
      <small>
      <button class="btn btn-link btn-sm text-secondary text-decoration-none fw-light mx-0 my-0 px-0 py-0 mb-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
        </svg>
      </button>&nbsp;
      </small>

      {% for tag in tags %}
        {% if forloop.counter == 1 %}
        <small>
        <button class="btn btn-link btn-sm text-primary text-decoration-none fw-light mx-0 my-0 px-0 py-0" type="submit" value="{{ tag }}" name="q">
          {{ tag }}
        </button>&nbsp;
        </small>
        {% else %}
        <small>
          <span class="text-secondary fw-light"> | </span>
        <button class="btn btn-link btn-sm text-primary text-decoration-none fw-light mx-0 my-0 px-0 py-0" type="submit" value="{{ tag }}" name="q">
          {{ tag }}
        </button>&nbsp;
        </small>
        {% endif %}
      {% endfor %}
      </form>

      <!-- CAROUSEL IMAGE -->
      <div id="carouselExampleIndicators" class="carousel slide">
        {% if product.image_2 %}
        <div class="carousel-indicators">
          {% if product.image_1 %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-secondary bg-opacity-50" aria-current="true" aria-label="Slide 1"></button>
          {% endif %}
          {% if product.image_2 %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-secondary bg-opacity-50" aria-label="Slide 2"></button>
          {% endif %}
          {% if product.image_3 %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="bg-secondary bg-opacity-50" aria-label="Slide 3"></button>
          {% endif %}
          {% if product.image_4 %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="bg-secondary bg-opacity-50" aria-label="Slide 4"></button>
          {% endif %}
          {% if product.image_5 %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="bg-secondary bg-opacity-50" aria-label="Slide 5"></button>
          {% endif %}
        </div>
        {% endif %}

        <div class="carousel-inner">
          {% if product.image_1 %}
          <div class="carousel-item active">
            <img src="{{ product.image_1.url }}" class="h-100 mx-auto d-block" alt="...">
          </div>
          {% endif %}
          {% if product.image_2 %}
          <div class="carousel-item">
            <img src="{{ product.image_2.url }}" class="h-100 mx-auto d-block" alt="...">
          </div>
          {% endif %}
          {% if product.image_3 %}
          <div class="carousel-item">
            <img src="{{ product.image_3.url }}" class="h-100 mx-auto d-block" alt="...">
          </div>
          {% endif %}
          {% if product.image_4 %}
          <div class="carousel-item">
            <img src="{{ product.image_4.url }}" class="h-100 mx-auto d-block" alt="...">
          </div>
          {% endif %}
          {% if product.image_5 %}
          <div class="carousel-item">
            <img src="{{ product.image_5.url }}" class="h-100 mx-auto d-block" alt="...">
          </div>
          {% endif %}
        </div>
        {% if product.image_2 %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-secondary rounded-1 bg-opacity-50" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-secondary rounded-1 bg-opacity-50" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        {% endif %}
      </div>
    </div>

    <!-- PRICE AREA-->
    <div class="col my-2 mx-2 position-relative">
      <div style="min-width: 250px;">
      <h5 class="me-3">
        {{ product.title }}
      </h5>

      {% if product.price_off_display %}
        {% if product.price_old and product.price_off %}
        <p class="my-0">
        <span class="text-decoration-line-through text-secondary">
          {{ product.price_old_pprint }}
        </span>
          {% if product.price_off %}
            {% if product.price_off_display %}
            <span class="text-success fs-5 my-0">{{ product.price_off_pprint }}</span>
            {% endif %}
          {% endif %}
        </p>
        {% endif %}
      {% endif %}

      <p class="fs-2 my-0">{{ product.price_pprint }}</p>

      {% if product.times_split_num %}
      <p>
      {{ product.times_split_pprint }}
      {% if not product.times_split_interest %}
      <span class="text-success"> sem juros</span>
      {% endif %}
      </p>
      {% endif %}

      {% if product.shipping_price %}
      <p>
        <span class="text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
          <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
        </span> Por {{ product.shipping_price_pprint }}
      </p>
      {% else %}
      <p class="text-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
          <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg> Frete grátis
      </p>
      {% endif %}

      <div style="height: 200px;">
      <!-- Editar -->
        <a href="{% url 'manage_products_edit' product.title_for_url product.id %}" class="text-danger text-decoration-none position-absolute top-0 end-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
          </svg>
        </a>
      </div>

      </div>

      <div style="height: 200px;"></div>
      <form action="{% url 'product' product.title_for_url product.id %}" method="post" class="position-absolute bottom-0">
        {% csrf_token %}

        <div class="mx-1" style="height: 50px;">
          {% if favorite %}
          <button type="submit" class="btn btn-white py-0 px-0 mx-0 my-0 text-danger border-0" name="remove_favorite">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
          </button>
          {% else %}
          <button type="submit" class="btn btn-white py-0 px-0 mx-0 my-0 border-0" name="add_favorite">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
          </button>
          {% endif %}
        </div>

        <p class="text-muted my-0 py-0 ms-1 mb-2 fw-light">
          {% if product.available_quantity_display %}
          {{ product.available_quantity }} {% if product.available_quantity == 1 %}disponível{% else %}disponíveis{% endif %}
          {% endif %}
        </p>
        {% if product.available_quantity > 1 %}
        <p class="text-muted my-0"><small>Escolha a quantidade na compra / carrinho</small></p>
        {% endif %}

        <div class="d-grid gap-2 gap-2 col-12" style="width: 400px;">
          {% if cart %}
          <button type="submit" class="btn btn-outline-danger" name="remove_cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg> Remover do carrinho
          </button>
          {% else %}
          <button type="submit" class="btn btn-outline-primary" name="add_cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg> Adicionar ao carrinho
          </button>
          {% endif %}

          <button class="btn btn-primary" type="submit" name="buy">Comprar</button>
        </div>

      </form>

    </div>

  </div>

  <!-- DESCRIPTION -->
  <div class="text-secondary"><hr class="my-0 py-0"></div>
  <div class="pb-4">
    {% if product.content %}
    <p class="mt-4">{{ product.content | safe }}</p>
    {% endif %}
  </div>


</div>
{% endblock %}
